*.vspx
*.VC.db
*.bc
*.copied
*.user
*.sdf
*.suo
*.obj
*.lib
*.exe
*.ilk
*.pdb
*.opensdf
*.VC.opendb
Release
Debug
ipch
res
Stage
debug.log
???Messages.h
GPUCache
.vs
AfsTest
GitFiles-LastAccessTimes.state
